* {
    margin: 3px;
    padding: 3px;
    box-sizing: none;
    background: #838482;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
}

header {
   text-decoration: indigo;
    color: rgb(19, 25, 79);
    padding: 3px;
    text-align: center;
}
.logo-container {
    position: relative;
    width: 50px;
    height: 50px;
}
.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: none;
    justify-content: center;
    background-color: rgb(61, 55, 78);

}

nav ul li {
    margin: 5px 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(223, 220, 197, 0.492);
    padding: 10px 15px;
    display: table-header-group;
    
    border-radius: 2px;
    
}

nav ul li a:hover {
    background-color: #7f89b7;
    text-decoration: none;
    color: rgb(78, 93, 130);
}
footer {
    background-color: #858784;
    text-align: center;
    padding: 10px 0;
    margin-top: 60px;

.footer-social img {
    width: 20px;      
    height: auto;     
}





   
.prva-container{
    display: flex;
    align-items: center;  
    gap: 50px; 
    padding: 20px;
    margin: 20px auto;
    background: rgba(162, 161, 154, 0.781); 
    box-shadow: rgb(166, 166, 204); 
   
}

.naslov-container{
  
  width: 100%;
  height: 100%;
}
.naslov{
    text-align: center;
    text-decoration: none;
    color: rgb(51, 4, 112);
}
.slike {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
    padding: 10px;
}

.slike img {
    width: 30%;
    height: 45%;
    border: 2px solid #a46868;
    border-radius: 5px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.slike img:hover {
    transform: scale(1.05);
}
.kontakt-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #553d7a85;
    border-radius: 8px;
    background-color: #5e7060f0;
    box-shadow: 0 4px 6px rgba(67, 67, 64, 0.878);
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

@media (max-width: 768px) {
    .navigacija ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    .portfolio img {
        max-width: 90%;
    }
}